@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 600px) {
    .as {
      width: 100%;
    }
  
}

@media screen and (max-width: 400px) {
  
    .ab {
      flex-direction: column;
    }

    .ab button {
      width: 200px;
    }
}